<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Become a member</title>
  </head>
  <body>
    <form
      action="/become-a-member"
      method="post"
      class="w-full max-w-lg mx-auto flex flex-col gap-4"
    >
      <div class="form-control">
        <label class="label" for="memberCode">Enter the code: (123456)</label>
        <input
          type="text"
          name="memberCode"
          id="memberCode"
          class="input input-sm input-bordered"
          required
        />
        <div class="text-error"><%= errorMessages.memberCode || '' %></div>
      </div>
      <button class="btn btn-primary self-end" type="submit">Join</button>
  </body>
</html>