<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Ho</title>
  </head>
  <body>
    <h1>Hello <%= currentUser ? currentUser.username : 'Not logged in' %></h1>
    <% messages.forEach(message => { %>
    <h2><%= message.title %></h2>
    <p><%= message.text %></p>
    <p><%= message.author.username %></p>
    <% }); %>
    <ul>
      <li><a href="/sign-up" class="link link-primary">Sign up</a></li>
      <li><a href="/login" class="link link-primary">Login</a></li>
      <li>
        <a href="/become-a-member" class="link link-primary">Become a member</a>
      </li>
      <li>
        <a href="/create-a-message" class="link link-primary"
          >Create a message</a
        >
      </li>
      <li>
        <a href="/become-an-admin" class="link link-primary">Become an admin</a>
      </li>
    </ul>
    <a href="/log-out" class="btn btn-primary">Log out</a>
  </body>
</html>
